.url_sub_form form p {
    font-size: 18px;
    margin-top: 30px;
}

.hdr_st_so {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mn-box-select {
    margin-top: 20px;
}

.inr_dat_box {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 42px 120px;
    border-radius: 4px;
    border: 1px solid rgb(226, 232, 239);
}

.inr_dat_box h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.01em;
    text-align: center;
}

.box_event {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    gap: 20px;
    -webkit-box-pack: center;
    justify-content: center;
}

.evnt_inr_bx {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgb(226, 232, 239);
    outline: none;
    cursor: pointer;
    min-height: 162px;
    padding: 20px;
    pointer-events: auto;
}
.form_show.url_sub_form {
    padding: 0px 32px;
}
.input_lble_url {
    margin-bottom: 20px;
}
.input_lble_url span {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
    padding: 4px 12px 0px 14px;
    display: block;
}
.evnt_inr_bx h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.box_event {
    margin-top: 30px;
}
.evnt_inr_bx p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.evnt_inr_bx:hover {
    box-shadow: rgba(0, 20, 51, 0.12) 0px 2px 6px;
    border-color: rgb(5, 102, 255);
    outline: rgb(5, 102, 255) solid 1px;
}
.drop_dwn_form {
    position: fixed;
    inset: 0px;
    background-color: rgba(8, 15, 26, 0.8);
    z-index: 132;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 10000000000 !important;
}
.inr_drop_dn_frm {
    opacity: 1;
    transform: translateY(0px);
    margin: auto;
    /* transform: translateY(-25%); */
    transition: all 0.3s ease-out 0s;
    outline: none;
}
.frm-outer {
    width: min(-32px + 100vw, 700px);
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
}
.icon_close {
    outline: none;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 20, 51, 0.24) 0px 8px 20px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    z-index: 10;
    width: 36px;
    height: 36px;
    top: -12px;
    right: -12px;
}
.title_form {
    text-align: left;
    padding: 32px 32px 24px;
}
.form_show input {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    height: 51px;
    color: rgb(8, 15, 26);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(211, 219, 229);
    border-radius: 4px;
    padding: 16px 14px;
    outline: none;
}

/* Form */

.submit_btn {
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 32px;
    box-shadow: rgb(8, 15, 26) 0px -20px 32px -40px;
    transition: box-shadow 0.3s ease 0s;
    position: relative;
}
.submit_btn button {
    border-radius: 8px;
    font-size: 16px;
    height: 38px;
    line-height: 20px;
    min-width: 80px;
    padding: 0 16px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: #0566ff;
    border-color: #0566ff;
    color: #fff;
}
.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28571429;
    margin-bottom: 0;
    min-width: 64px;
    padding: 6px 14px;
    text-align: center;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

/* Get Details */

.scrollAreaViewport {
    width: 100%;
    max-width: 100%;
    border: 1px solid rgb(226, 232, 239);
    border-radius: 12px;
    overflow-x: auto;
    background: rgb(255, 255, 255);
    padding: 0px;
    min-height: 100px;
}
.data-table {
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
    border-collapse: collapse;
}
.data-table tr {
    border-bottom: 1px solid rgb(239, 242, 246);
}

.data-table th,
.data-table td {
    padding-block: 0px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
}
.data-table th {
    height: 48px;
    color: rgb(100, 116, 145);
    font-weight: 400;
}
.data-table tr th {
    position: relative;
}
table.data-table tbody tr td {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px 16px;
}

/* Chatbot */

/* index.module.css */

#chatbote .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#chatbote .chatbotToggle {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 60px;
    padding: 10px 10px;
    cursor: pointer;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatbote .chatbotContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#chatbote .chatbotContainer.open {
    transform: translateY(0);
}

#chatbote .chatbotContainer.closed {
    transform: translateY(100%);
}

/* Add Manually */
.add_manually_form .frm-outer {
    padding-bottom: 30px;
}
.add_manually_form .submit_btn {
    padding: 0px;
    margin: 0;
}
.question textarea,
.response textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #080f1a;
    border-style: solid;
    border-width: 2px;
    border-color: #d3dbe5;
    border-radius: 4px;
    padding: 16px 14px;
    outline: none;
    min-height: 60px;
    margin-top: 20px;
}
.response textarea {
    min-height: 250px;
}
